<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Booking</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <h1>Booking details</h1>
    <p th:text="'Booking id: ' + ${booking.id}" />
    <p th:text="'Guest name: ' + ${booking.customer.name}" />
    <p th:text="'Room name: ' + ${booking.bookingDetails.room.name}" />
    <p th:text="'Room size: ' + ${booking.bookingDetails.room.roomSize.size}" />
    <p th:text="'Extra beds: ' + ${booking.bookingDetails.extraBeds}" />
    <p th:text="'Dates: ' + ${booking.startDate} + ' - ' + ${booking.endDate}" />

    <form th:action="@{/bookings/{id}/cancel(id=${booking.id})}" method="post">
        <button type="submit" style="background-color: #ff4444; color: white;">Cancel booking</button>
    </form>

    <h2>Edit booking</h2>

    <form th:action="@{/bookings/{id}/edit/extra-beds(id=${booking.id})}" th:object="${booking}" method="post">
        <div class="form-group">
            <label>Extra beds:</label>
            <input type="number" name="extraBeds" th:field="*{bookingDetails.extraBeds}"/>
            <button type="submit">Save</button>
        </div>
        <div th:if="${errorMessageExtraBeds}" class="error-message" style="color: red;" th:text="${errorMessageExtraBeds}"></div>
        <div th:if="${successMessageExtraBeds}" class="success-message" style="color: green;" th:text="${successMessageExtraBeds}"></div>
    </form>
    <br>
    <form th:action="@{/bookings/{id}/edit/dates(id=${booking.id})}" th:object="${booking}" method="post">
        <div class="form-group">
            <label for="start-date">Start Date:</label>
            <input id="start-date"
                   type="date"
                   th:value="${#temporals.format(booking.startDate, 'yyyy-MM-dd')}"
                   name="startDate">
            <label for="end-date">End Date:</label>
            <input id="end-date"
                   type="date"
                   th:value="${#temporals.format(booking.endDate, 'yyyy-MM-dd')}"
                   name="endDate">
            <button type="submit">Save</button>
        </div>
        <div th:if="${errorMessageDates}" class="error-message" style="color: red;" th:text="${errorMessageDates}"></div>
        <div th:if="${successMessageDates}" class="success-message" style="color: green;" th:text="${successMessageDates}"></div>
    </form>
    <br>
    <p>Possible ToDo:</p>
    <button type="submit"
            th:action="@{/edit-booking/change-details-todo(id=${booking.id})}"
            th:object="${booking}"
            method="post">Search alternatives</button>
    <br>
    <br>
    <a href="/bookings">← Back to bookings</a>

    <div th:if="${successMessage}" th:text="${successMessage}"></div>

</div>
</body>
</html>