<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Room</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <h1>Book Room</h1>
    <form th:action="@{/book-room}" th:object="${roomSearchDto}" method="post">
        <table>
            <tr>
                <td><label for="start-date">Start Date:</label></td>
                <td><input id="start-date" type="date" th:field="*{startDate}"></td>
            </tr>
            <tr>
                <td><label for="end-date">End Date:</label></td>
                <td><input id="end-date" type="date" th:field="*{endDate}"></td>
            </tr>
            <tr>
                <td><label for="total-guests">Total Guests:</label></td>
                <td><input id="total-guests" th:value="${roomSearchDto.totalGuests > 0  ? roomSearchDto.totalGuests : 3}" type="number"></td>
            </tr>
        </table><br>
        <button type="submit">Search Rooms</button>
    </form>
    <div th:if="${search}">
        <p th:if="${rooms.isEmpty()}">No vacancies found</p>
        <h3>Available Rooms</h3>
        <form th:action="@{/book-room/selected}" th:method="post" th:object="${roomSelectionDto}">
            <table>
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Beds</th>
                    <th>Extra Beds</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room : ${rooms}">
                    <td><input type="radio" th:field="*{roomId}" th:value="${room.id}"></td>
                    <td th:text="${room.name}"></td>
                    <td th:text="${room.roomSize.size}"></td>
                    <td th:text="${room.roomSize.beds}"></td>
                    <td th:text="${room.roomSize.maxExtraBeds}"></td>
                </tr>
                </tbody>
            </table>
            <br>
            <input type="hidden" th:value="${roomSearchDto.startDate}" name="startDate" id="startDate">
            <input type="hidden" th:value="${roomSearchDto.endDate}" name="endDate" id="endDate">
            <input type="hidden" th:value="${roomSearchDto.totalGuests}" name="totalGuests" id="totalGuests">
            <label for="customer">Customer:</label>
            <select id="customer" name="customer" th:field="*{customerId}">
                <option th:each="customer: ${customers}" th:text="${customer.name}" th:value="${customer.id}"></option>
            </select>
            <button type="submit">Book Room</button>
        </form>
    </div>
</body>
</html>